$blue: #42a2dc !default;
$primary: $blue !default;
$body-bg: #edf0f2 !default;
$body-color: #424c55 !default;
$font-family-sans-serif: Whitney, Lato, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol' !default;

// Cards
$card-border-width: 0 !default;
$card-border-radius: 5px !default;
